@model IEnumerable<Project.Models.Accessories>

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="report_header"><i class="fa fa-cog"></i> Изделие @ViewBag.ProductName</h4></div>
            <div class="form-group">
                <div id="archdata" style="overflow-x:scroll; height: 76.5vh;">
                    <table class="table table-bordered table-condensed datatable">
                        <tbody>
                            <tr class="toptop">
                                <th>
                                </th>
                                <th style="width: 50% !important;">Наименование</th>
                                <th style="width: 50% !important;">Стоимость</th>
                            </tr>
                            @foreach (var row in Model)
                            {
                                if (!row.isDeleted)
                                {
                                    <tr>
                                        <td>
                                            <div class="btn-group super-navi">
                                                <button class="btn btn-primary dropdown-toggle btn-xs btn-radius" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                                <ul class="dropdown-menu devdata" value="@row.Id">
                                                    @*<li>
                                                            <button data-id-device="@row.Id" value="Materials/Update" title="Редактировать данные комплектующих" class="">
                                                                <i class="fa fa-pencil"></i> Редактировать
                                                            </button>
                                                        </li>*@
                                                    <li>
                                                        <button data-id-device="@row.Id" value="Materials/Delete" title="Удалить комплектующие" class="">
                                                            <i class="fa fa-times"></i> Удалить
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>@row.Name</td>
                                        <td>@row.Value</td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
