@model IEnumerable<Project.Models.Jobs>

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="report_header"><i class="fa fa-wrench"></i> Работы</h4></div>
            <div class="form-group">
                <div id="archdata" style="overflow-x:scroll; height: 76.5vh;">
                    <table class="table table-bordered table-condensed datatable">
                        <tbody>
                            <tr class="toptop">
                                <th>
                                </th>
                                <th style="width: 50% !important;">Наименование</th>
                                <th style="width: 50% !important;">Нормы времени</th>
                            </tr>
                            @foreach (var row in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="btn-group super-navi">
                                            <button class="btn btn-primary dropdown-toggle btn-xs btn-radius" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <ul class="dropdown-menu devdata" value="@row.Id">
                                                <li>
                                                    <button data-id-device="@row.Id" value="Jobs/Update" title="Редактировать работу" class="">
                                                        <i class="fa fa-pencil"></i> Редактировать
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-id-device="@row.Id"  value="Jobs/Delete" title="Удалить работу" class="">
                                                        <i class="fa fa-times"></i> Удалить 
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>@row.Name</td>
                                    <td>@row.NormsOfTime</td>
                                    
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $("button[value='Jobs/Update']").on('click', function () {
        var clientId = $(this).attr('data-id-device');
        $.ajax({
            type: 'get',
            url: "../" + $(this).val() + "?id=" + clientId,
            success: function (data) {
                $("#modal_dialog").html(data);
                $("#modal_dialog").modal('show');
            }
        });
    });
     $("button[value='Jobs/Delete']").on('click', function () {
        var clientId = $(this).attr('data-id-device');
        $.ajax({
            type: 'get',
            url: "../" + $(this).val() + "?id=" + clientId,
            success: function (data) {
                $("#modal_dialog").html(data);
                $("#modal_dialog").modal('show');
            }
        });
    });
</script>